<h1>Edit Your Details</h1>
<%= form_for :user, @user, :url => {:action => "update_details"} do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :location %><br />
		<%= f.text_field :location %>
	</div>
	<div class="field">
		<%= f.label :bio %><br />
		<%= f.text_field :bio %>
	</div>
	<div class="actions">
		<%= f.submit "Update My Details" %>
	</div>
<% end %>


<%= form_for :user, @user, :url => {:action => "update_password"} do |f| %>
	<%= render 'shared/error_messages' %>
	<div class="field">
		<%= f.label :password %><br />
		<%= f.password_field :password %>
	</div>
	<div class="field">
		<%= f.label :password_confirmation, "Password Confirmation" %><br />
		<%= f.password_field :password_confirmation %>
	</div>
	<div class="actions">
		<%= f.submit "Change My Password" %>
	</div>
<% end %>
