<div class="container">
		<img id="header" src="/images/header.png"/>
	<div id="signup-form">
		<% if !@user.errors.any? %>
			<div id="title"><h2>Sign Up & Start Wishing</h2></div>
		<% end %>
		<%= form_for(@user) do |f| %>
			<%= render 'shared/error_messages'%>
			<div id="section">
				<div class="field">
					<%= f.label :username %>
					<%= f.text_field :username %>
				</div>
				<div class="field">
					<%= f.label :email %>
					<%= f.text_field :email %>
				</div>
			</div>
			<div id="section">
				<div class="field">
					<%= f.label :password %>
					<%= f.password_field :password %>
				</div>
				<div class="field">
					<%= f.label :password_confirmation, "Password Confirmation" %>
					<%= f.password_field :password_confirmation %>
				</div>
			</div>
			<div class="actions">
				<%= f.submit "Create My Account" %>
			</div>
		<% end %>
	</div>
</div>