<div class="container-user">
	<div id="username">
		<h2><%= @user.username %></h2>
	</div>
	<div id="user-details">
            <% if signed_in? && current_user?(@user) %> 
		<div id="user-edit">
			<%= link_to "Account Settings", edit_user_path(current_user)%><br/>
			<%= link_to "Sign Out", signout_path, :title=>"signout" %>
		</div>
            <% end %>
	</div>
	<div id="user-content">
            <%= render 'shared/events' %>
	</div>
</div>

<% if signed_in? && current_user?(@user) %>
<%= render 'shared/event_form' %>
<% end %>


